%h1 New Task

= form_for @task do |f|
  = f.label :title
  = f.text_field :title
  
  = f.label :description
  %p.help-block Write a brief description of the task including the date and time you need it done and how much you are willing to pay for it.
  
  = f.text_area :description
  
  = f.label :first_name
  = f.text_field :first_name
  
  = f.label :last_name
  = f.text_field :last_name
  
  = f.label :phone
  = f.text_field :phone
  
  = f.label :email
  = f.text_field :email
  
  = f.submit "Post Task", { :class => "btn-large btn-primary" }