!!! 5
%html
  %head
    %title Student Task Force
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "shared/nav"
    #main
      = yield